<div>
  <div
    class="card position-relative mainborder    "
    style="width: 19rem; height: 42rem;"
  >
    <div (click)="handleRedirect(productItem?.id)">
      <img [src]="productItem?.images" class="card-img-top" alt="productimg" />
      @if(productItem?.stock){
      <span
        class="rounded-pill greenback w-25 text-center text-light position-absolute top-0 start-0 m-2"
        >in stock</span
      >
      }@else {
      <span
        class="rounded-pill redback w-50 text-center text-light position-absolute top-0 start-0 m-2"
        >out of stock</span
      >
      }

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{ productItem?.title }}</h5>

          <p
            [innerHTML]="
              productItem.price | discount : productItem.discountPercentage
            "
          ></p>
        </div>

        <p style="height: 70px; overflow: hidden" class="card-text">
          {{ productItem?.description }}
        </p>
        <span>...</span>
        <div class="star-rating d-block m-1">
          <i
            *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
            class="star"
            [ngClass]="{ filled: i < productItem?.rating }"
          >
            &#9733;
          </i>
        </div>
      </div>
    </div>
    <button
      class="btn maincolor mainhover text-light mx-4 mb-4 w-50"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
  </div>
</div>
