<div class="container mt-5">
<div class="row justify-content-center">
<div class="col-md-6 col-lg-4">
  <div style="margin-top: 40px" class="w-100 mx-auto mainborder p-5 rounded">
    <h2 class="color fw-bold mb-5">Regester</h2>
    <form [formGroup]="signupform" (ngSubmit)="handlesubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          formControlName="name"
        />
        @if(name?.touched && name?.invalid){
        <div class="form-text text-danger">
          @if(name?.hasError('required')){
          <small>Required</small>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
        @if(email?.touched && email?.invalid){
        <div class="form-text text-danger">
          @if(email?.hasError('required')){
          <small>Required</small>
          } @if(email?.hasError('email')){
          <small>enter valid email</small>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input
          type="email"
          class="form-control"
          id="username"
          aria-describedby="emailHelp"
          formControlName="Username"
        />
        @if(Username?.touched && Username?.invalid){
        <div class="form-text text-danger">
          @if(Username?.hasError('required')){
          <small>Required</small>
          }@else if(Username?.hasError('spaces')){
          <small>user name should contains no spaces</small>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
        @if(password?.touched && password?.invalid ){
        <div class="form-text text-danger">
          @if(password?.hasError('required')){
          <small>Required</small>
          } @else if(password?.hasError('pattern')){
          <small
            >password must contains at least 8 characters, at least one lowercase
            , one uppercase , at least one digit and special character</small
          >
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword2"
          formControlName="confirmpass"
        />
        @if(confirmpass?.touched && confirmpass?.invalid){
        <div class="form-text text-danger">
          @if(confirmpass?.hasError('required')){
          <small>Required</small>
          } @else if(confirmpass?.hasError('passwordMismatch')){
          <small>password dont match</small>
          }
        </div>
        }
      </div>

      <button
        type="submit"
        class="btn maincolor mainhover text-light"
        [disabled]="signupform.invalid"
      >
        Sign Up
      </button>
    </form>
  </div>
  <div class="mx-auto w-100 text-center mt-5 mb-5">
    if you have account ? <a class="color" routerLink="/login">Login</a>
  </div>

</div>
</div>
</div>



